In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import datetime as dt
from scipy.stats import ttest_ind

In [3]:
df = pd.read_excel('Домашнее задание (исходник).xlsx')

df.head()

   id_order  animal                species  check
0   3645743   Кошка                Уличная  35124
1   3645744   Кошка  Домашняя обыкновенная  30789
2   3645745  Собака                Уличная  30386
3   3645745  Собака  Домашняя обыкновенная  33967
4   3645746  Собака  Домашняя обыкновенная  57745

In [4]:
df_gr = df.groupby(['animal', 'species']).agg(cnt_obs = ('id_order', 'count'), 
                        check_mean = ('check', 'mean')).reset_index()


df_gr.head(10)

                  animal                species  cnt_obs    check_mean
0                  Кошка  Домашняя обыкновенная     1037  26252.648987
1                  Кошка    Домашняя породистая      375  27404.896000
2                  Кошка                Уличная      598  24168.826087
3                 Собака  Домашняя обыкновенная      920  26733.493478
4                 Собака    Домашняя породистая      249  20443.963855
5                 Собака                Уличная      774  25679.635659
6  Экзотическое животное  Экзотическое животное      893  28748.667413

In [41]:
# Ответьте на следующие вопросы, используя функцию ttest_ind:

# 1) Какой средний чек выше - по собакам или по кошкам?

df1 = df_gr[df_gr['animal']=='Собака']['check_mean']
df2 = df_gr[df_gr['animal']=='Кошка']['check_mean']

s, p = ttest_ind(df1, df2)
print(s)
print(p)

print('Средний чек по кошкам больше, чем по собакам, так как значение параметра s отрицательное, т.е. df1<df2')

-0.76575957286536
0.4865081225716277
Средний чек по кошкам больше, чем по собакам, так как значение параметра s отрицательное, т.е. df1<df2

In [40]:
# 2) Какой средний чек выше - по экзотическим животным или по собакам?

df1 = df_gr[df_gr['animal']=='Собака']['check_mean']
df2 = df_gr[df_gr['animal']=='Экзотическое животное']['check_mean']

s, p = ttest_ind(df1, df2)
print(s)
print(p)

print('Средний чек по экзотическим животным больше, чем по собакам, так как значение параметра s отрицательное, т.е. df1<df2')

-1.1474058256766142
0.36995086109030406
Средний чек по экзотическим животным больше, чем по собакам, так как значение параметра s отрицательное, т.е. df1<df2

In [39]:
# 3) Какой средний чек выше - по экзотическим животным или по кошкам?

df1 = df_gr[df_gr['animal']=='Кошка']['check_mean']
df2 = df_gr[df_gr['animal']=='Экзотическое животное']['check_mean']

s, p = ttest_ind(df1, df2)
print(s)
print(p)

print('Средний чек по экзотическим животным больше, чем по кошкам, так как значение параметра s отрицательное, т.е. df1<df2')

-1.4818270574562618
0.2765816183056047
Средний чек по экзотическим животным больше, чем по кошкам, так как значение параметра s отрицательное, т.е. df1<df2

In [37]:
# 4) Существуют ли сегменты (разбиение по породе), в рамках которых средний чек по кошкам больше, чем по собакам?

df_cats = df[df['animal']=='Кошка']
df_dogs = df[df['animal']=='Собака']


s_1, p_1 = ttest_ind(df_cats[df_cats['species']=='Домашняя обыкновенная']['check'],df_dogs[df_dogs['species']=='Домашняя обыкновенная']['check'])
print('Домашняя обыкновенная_s =', s_1)
print('Домашняя обыкновенная_p =', p_1) 

s_2, p_2 = ttest_ind(df_cats[df_cats['species']=='Домашняя породистая']['check'],df_dogs[df_dogs['species']=='Домашняя породистая']['check'])
print('Домашняя породистая_s =', s_2)
print('Домашняя породистая_p =', p_2) 

s_3, p_3 = ttest_ind(df_cats[df_cats['species']=='Уличная']['check'],df_dogs[df_dogs['species']=='Уличная']['check'])
print('Уличная_s =', s_3)
print('Уличная_p =', p_3) 

#############

print('В сегменте "Домашняя породистая" средний чек по кошкам больше, чем по собакам, так как только в этом сигменте s положительная')

Домашняя обыкновенная_s = -0.33229740456905527
Домашняя обыкновенная_p = 0.739700323305123
Домашняя породистая_s = 2.649066644872549
Домашняя породистая_p = 0.008276435629101226
Уличная_s = -0.8581304194510694
Уличная_p = 0.3909705531378621
В сегменте "Домашняя породистая" средний чек по кошкам больше, чем по собакам, так как только в этом сигменте s положительная

In [36]:
# 5) Какой средний чек выше - по экзотическим животным или по домашним породистым кошкам?

df1 = df_cats[df_cats['species']=='Домашняя породистая']['check']
df2 = df_gr[df_gr['animal']=='Экзотическое животное']['check_mean']

s, p = ttest_ind(df1, df2)
print(s)
print(p)

######

print('Средний чек по экзотическим животным больше, чем по домашним породистым кошкам, так как значение параметра s отрицательное')

-0.03794224240262271
0.969753976784219
Средний чек по экзотическим животным больше, чем по домашним породистым кошкам, так как значение параметра s отрицательное